@use "../../../variables.scss" as v;

.root {
  @include v.largeNone;
  width: 675px;
  height: 555px;
  padding: 30px;
  margin: 60px auto 80px auto;

  background: #ffffff;
  border-radius: 20px;

  .info {
    display: flex;
    margin: 40px 0 35px 0;

    .logo {
      margin-right: 35px;
    }
  }

  .span {
    color: red;
  }

  .area {
    width: 600px;
    height: 160px;
    padding: 10px;
    margin-bottom: 40px;
    background: #efefef;
    border: 2px solid #b4b4b499;
    border-radius: 10px;
    resize: none;
    @include v.regularNone;
    font-weight: bold;
    transition: 0.2s ease all;
    color: v.$mainColorHover;

    &:focus {
      color: v.$textColor;
      transition: 0.2s ease all;
      outline: none;
      border: solid 2px v.$mainColor;
    }
  }
}

@media screen and (max-width: 1000px) {
  .root {
    width: 100%;
    margin: auto;
    height: fit-content;
    padding: calc(5px + (30 - 5) * ((100vw - 320px) / (1000 - 320)));
    font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1000 - 320)));

    .info {
      margin: calc(10px + (40 - 10) * ((100vw - 320px) / (1000 - 320)));
    }

    .title {
      font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1000 - 320)));
    }

    .logo {
      display: none;
    }

    .area {
      width: 100%;
      font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1000 - 320)));
      padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1000 - 320)));
    }
  }
}