@use "../../variables.scss" as v;

.review {
  box-sizing: border-box;
  background: red;
  align-items: center;
  width: 70%;

  margin: 30px auto;
  padding: 30px;

  .title {
    @include v.largeNormal;
  }

  .list_rate {
    list-style: none;

    .grades {
      button {
        padding: 10px;
        border-radius: 0;
      }
      button:first-child {
        border-radius: 20% 0 0 20%;
      }
      button:last-child {
        border-radius: 0 20% 20% 0;
      }
      button:hover {
        background: rgb(136, 135, 135);
        transition: 0.25s;
      }
    }
  }
}
