@use '../../variables.scss' as v;

.root {
    background-color: #3A3A3A;
    height: 100%;
    position: fixed;
    z-index: 200;
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: .5s ease all;

    &.showMenu {
        transform: translateX(0%);
        transition: .5s ease all;
    }


    .close {
        cursor: pointer;
        position: absolute;
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        top: 0;
        right: 0;
        padding: 20px;
    }

    .menu__container {
        max-width: 800px;
        @include v.regularNone;
        color: #FFFFFF;
        padding: 5%;

        .menu__window {
            background-color: #E6E6E6;
            padding: 2rem;
            border-radius: 20px;


            * {
                color: v.$textColor;
                font-weight: bold;
            }

            .menu__buttons {
                margin-top: 50px;
                display: grid;
                gap: 4px;

                p {
                    padding-left: 25px;
                    position: relative;
                }

                p::before {
                    content: "";
                    background: url("../../assets/img/home.svg") left / cover no-repeat;
                    width: 15px;
                    height: 18px;
                    position: absolute;
                    left: 0;
                    top: 0px;
                }



            }
        }
    }


    .logo {
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 252px;
        height: 72px;
    }
}