@use '../../variables.scss' as v;

.root {
    display: grid;
    width: 100%;
    margin: 100px 0;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    color: v.$textColor;

    @media (width<1214px) {
        grid-template-columns: 2fr 1fr;
        
    }

    @media (width<930px) {
        grid-template-columns: 1fr 1fr;
        
    }

    .ads {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @media (width<1214px) {
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (width<930px) {
            grid-template-columns: 1fr;
            
        }
    }

    .info {
        margin-left: 45px;

        .container {
            border-radius: 20px;
            padding: 27px 28px 44px 13px;
            background-color: white;

            >h3 {
                margin-bottom: 26px;
                margin-left: 9.85px;
            }

            .links{
                display: grid;
                grid-template-columns: 1fr
            }

            .container__button {
                @include v.largeNone;
                color: v.$textColor;
                font-weight: 400;
                border-radius: 8px;
                height: 30px;
                padding: 6px 11px;
                margin-top: 1px;
                cursor: pointer;

                &:hover {
                    background-color: v.$lightMainColor;
                }
            }

            .container__button__active {
                background-color: v.$mainColor;
                @include v.largeNone;
                color: white;
                font-weight: 400;
                border-radius: 8px;
                height: 30px;
                padding: 6px 11px;
                margin-top: 1px;
                cursor: pointer;
            }
        }

        .subscribe {
            border-radius: 20px;
            padding: 30px 33.08px 19px 31.92px;
            background-color: white;
            margin-top: 71px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;

            @media (width<930px) {
                display: none;
            }

            .subscribe__title {
                margin-top: 68.02px;
                margin-bottom: 9.17px;
            }

            .subscribe__date {
                margin-bottom: 27.57px;
            }
        }
    }
}