@use '../../variables.scss' as v;

.root{
    display: flex;
    margin-top: 61px;
    margin-left: 40px;

    .ads{
        display: grid;
        grid-template-columns: repeat(3,269px);
        grid-template-rows: repeat(2,440px);
        gap: 30px;
    }

    .info{
        margin-left: 45px;

        .container{
            border-radius: 20px;
            padding:27px 28px 44px 13px;
            background-color: white;

            >h3{
                margin-bottom: 26px;
                margin-left: 9.85px;
            }

            .container__button{
                @include v.largeNone;
                color: v.$textColor;
                font-weight: 400;
                border-radius: 8px;
                height: 30px;
                padding:6px 11px;
                margin-top: 1px;
                cursor: pointer;

                &:hover{
                    background-color: v.$btnHover;
                }
            }

            .container__button__active{
                background-color: v.$mainColor;
                @include v.largeNone;
                color: white;
                font-weight: 400;
                border-radius: 8px;
                height: 30px;
                padding:6px 11px;
                margin-top: 1px;
                cursor: pointer;
            }
        }

        .subscribe{
            border-radius: 20px;
            padding:14.52px 33.08px 19px 31.92px;
            background-color: white;
            margin-top: 71px;

            display: flex;
            flex-direction: column;
            align-items: center;

            font-weight: 700;

            .subscribe__title{
                margin-top: 68.02px;
                margin-bottom: 9.17px;
            }

            .subscribe__date{
                margin-bottom:27.57px;
            }
        }
    }
}