@use '../../variables.scss' as v;

.root {
   .container {
      width: 1320px;
      margin: 0 auto;
      height: 100vh;

      .content {
         width: 66.06%;
      }

      @media screen and (max-width: 1400px) {
         width: 1140px;
      }

      @media screen and (max-width: 1200px) {
         width: 960px;
      }

      @media screen and (max-width: 996px) {
         width: 720px;
      }

      @media screen and (max-width: 772px) {
         width: 540px;
      }

      @media screen and (max-width: 576px) {
         width: 100vw;
      }
   }

   @media screen and (max-width: 576px) {
      padding: 0 15px;
   }


}