@use '../../variables.scss' as v;

.root {
    width: 350px;
    height: 480px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: v.$shadow;

    p {
        color: v.$secondDarkColor;
        @include v.largeNone;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        height: 100%;
    }

    .text {
        padding: 9px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto 1fr 1fr;
            gap: 9px;

            * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .title {
                grid-column: 1/4;
                line-height: 1.5;
            }

            .position {
                position: relative;
                grid-column: 1/4;
                padding-left: 22px;
                @include v.largeTight;

                &::before {
                    content: '';
                    background: url('../../assets/img/location.svg') center/contain no-repeat;
                    height: 18px;
                    position: absolute;
                    left: 0;
                    top: 2.2px;
                    width: 18px;
                }
            }

            .metro {
                position: relative;
                padding-left: 22px;
                @include v.largeNone;
                grid-column: 1/3;

                &::before {
                    content: '';
                    background: url('../../assets/img/metro.svg')  center/contain no-repeat;
                    height: 18px;
                    position: absolute;
                    left: -3px;
                    top: 0px;
                    width: 26px;
                }
            }

            .time{
                position: relative;
                padding-left: 22px;
                @include v.largeNone;

                &::before {
                    content: '';
                    background: url('../../assets/img/clock.svg') center/contain no-repeat;
                    height: 18px;
                    position: absolute;
                    left: -3px;
                    top: 0px;
                    width: 26px;
                }
            }
        }
    }



    .price__button {
        display: flex;
        justify-content: space-around;
        align-items: center;

        h3 span {
            @include v.regularNone;
            font-weight: normal;
            color: black;
        }
    }
}


@media (width<576px) {
    .root {
        width: 182px;
        height: 256px;

        .text {
            padding: 4.51px 9px;

            p {
                font-size: 9.39429px;
                line-height: 9px;
            }
        }

        .title {
            text-align: center;

            >p {
                font-size: 14.0914px;
                line-height: 14px;
            }
        }

        .container {
            height: 60% !important;
        }

        .metro__time {
            justify-content: space-between;
            align-items: center;

            .metro {
                align-items: center;
            }

            .time {
                align-items: center;
            }

            #metro {
                width: 18.34px;
                height: 14.87px;
            }
        }

        .price__button {
            justify-content: space-around;
            width: 100%;
            text-align: center;

            >p {
                font-size: 12px;
                line-height: 12px;

                >span {
                    font-size: 14px;
                    line-height: 14px;
                }
            }

            >button {
                display: none;
            }
        }
    }
}

@media (width<420px) {
    .root {
        width: 139px;
        height: 211px;

        .text {

            p {
                font-size: 9.39429px;
                line-height: 9px;
            }
        }

        .position {
            display: none;
        }

        .metro__time {
            flex-direction: column;
            align-items: center;
            height: 60%;
        }
    }
}