@use '../../variables.scss' as v;

.root {
    margin: 0 auto;
    width: 274px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: v.$shadow;
    background: #fff;


    .text {
        padding: 9px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto 1fr 1fr;
            gap: 9px;

            * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include v.smallNone
            }

            .title {
                grid-column: 1/4;
                font-weight: 700;
                color: v.$textColor;
                @include v.regularNone
            }

            .position {
                grid-column: 1/4;
                position: relative;
                padding-left: 22px;

                &::before {
                    content: '';
                    background: url('../../assets/img/location.svg') center/contain no-repeat;
                    height: 18px;
                    position: absolute;
                    left: 0;
                    top: 0px;
                    width: 18px;
                }
            }

            .metro {
                grid-column: 1/3;
                position: relative;
                padding-left: 22px;

                &::before {
                    content: '';
                    background: url('../../assets/img/metro.svg') center/contain no-repeat;
                    height: 18px;
                    position: absolute;
                    left: -3px;
                    top: 0px;
                    width: 26px;
                }
            }

            .time {
                position: relative;
                padding-left: 22px;
                @include v.largeNone;

                &::before {
                    content: '';
                    background: url('../../assets/img/clock.svg') center/contain no-repeat;
                    height: 18px;
                    position: absolute;
                    left: -3px;
                    top: 0px;
                    width: 26px;
                }
            }
        }
    }


    .price__button {
        margin-bottom: 20px;
        padding: 0 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        color: v.$textColor;

        h3 {
            @include v.largeNone;

        }

        h3 span {
            @include v.smallNone;
            font-weight: normal;
        }
    }
}