@use "../../variables.scss" as v;

.root {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
   padding: 0 20px;
   background: #EFEFEF;
   border-radius: 20px;
   height: 60px;

   .title {
      @include v.regularNone;
      color: v.$textColor;
   }

   .arrow {
      transform: rotate(90deg);
      width: 9.84px;
      height: 6.68px;
   }

   &.active {  
      background: v.$mainColor;
      p{
         color: #EFEFEF;
      }
      .arrow {
         transform: rotate(-90deg);
      }
   }

}