@use "../../variables.scss" as v;

.root {
   width: 100%;
   background: #3f3838;
   display: flex;
   padding: 17px 16px;
   justify-content: space-between;
   align-items: center;

   * {
      @include v.largeNone;
   }

   .logo_loc {
      display: flex;
      align-items: center;
      gap: 20px;

      .logo {
         width: 173px;
         height: 48px;
      }
   }


   .header__position {
      height: 29px;
      display: flex;
      justify-content: space-between;
   }

   .header__menu {
      display: flex;
      gap: 23px;
      list-style: none;
      color: #FFFFFF;
   }


   .header__user {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .addition {
         background-image: url("../../image/addition.svg");
         width: 30px;
         height: 20px;
         background-repeat: no-repeat;
         background-size: contain;
         margin-left: 21px;
         display: none;
      }

      .user__info {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-left: 12px;

         .header__mail {
            max-width: 190px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 700;
            color: #FFFFFF;

            @media (width<1360px) {
               display: none;
            }
         }

         .user_logo {
            display: none;
            cursor: pointer;

            @media (width<1360px) {
               display: block;
            }
         }
      }
   }

   .header__container2 {
      display: flex;
      align-items: center;

      .addition {
         background-image: url("../../image/addition.svg");
         width: 30px;
         height: 20px;
         background-repeat: no-repeat;
         background-size: contain;
         margin-left: 21px;
         display: none;
      }
   }

   .burger_menu {
      width: 30px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      display: none;

      .burger_item {
         width: 100%;
         background: #fff;
         height: 3px;
         border-radius: 10px;
      }
   }

   @media (width<1170px) {
      .header__menu{
         display: none;
      }
      .header__user{
         display: none;
      }
      .header__container2{
         display: none;
      }
      .popup{
         display: none;
      }
      .burger_menu{
         display: flex;
      }
   }

   @media screen and (max-width<600px) {
      .header__position {
         display: none;
      }

      .addition {
         display: block;
      }

      .header__menu {
         display: none;
      }

      .user__info {
         display: none;
      }
   }

   @media (width<400px) {
      .greenButton {
         display: none;
      }
   }
}