@use "../../variables.scss" as v;


.root {
  max-width: 1200px;
  margin: 100px auto;
  color: v.$textColor;

  .error {
    @include v.smallNone;
    font-weight: bold;
    margin: 5px;
    color: red;
    user-select: none;
  }

  .tabs {
    display: flex;
    gap: 20px;
  }

  .select_time_elements {
    .select_time_elements {
      display: flex;
      gap: 40px;

      >div {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .attention {
    margin-top: 10px;
    padding-left: 20px;
    background: url("../../assets/img/i.svg") left/contain no-repeat;
    @include v.smallTight;
    color: #6f6f6f;
  }

  .container {
    box-sizing: border-box;
    @include v.regularNone;
    background: v.$white;
    border-radius: 20px;
    padding: 30px;
    margin: 30px auto 100px auto;




    .object__atention {
      @include v.smallNone;
      color: #6f6f6f;
    }

    .object_textareas {
      label {
        margin-bottom: 25px;
      }
    }
  }
}