@use "../../variables.scss" as v;

.root {
   *+* {
      margin-top: 10px;
   }

   .area {
      width: 100%;
      height: 120px;
      padding: 10px;
      background: #efefef;
      border: 2px solid #b4b4b499;
      border-radius: 10px;
      resize: none;
      @include v.regularNone;
      font-weight: bold;
      transition: .2s ease all;
      color: v.$mainColorHover;

      &:focus {
         color: v.$textColor;
         transition: .2s ease all;
         outline: none;
         border: solid 2px v.$mainColor;
      }
   }
}