@use "../../variables.scss" as v;

.root {
   background: v.$greenColor;
   border-radius: 15px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #fff;
   padding: 10px 30px;
   outline: none;
   border: none;
   user-select: none;

   &:hover {
      background: v.$greenDarkColor;
      color: #fff;
   }
}