@use "../../variables.scss" as v;

body {
   background: #EEEFF1;
}


.root {
   background-color: white;
   border-radius: 20px;
   width: 470px;
   margin: 30px auto;
   padding: 10px;

   .title {
      color: v.$textColor;
      text-align: center;
   }

   .inputs {
      margin: 0 auto;
      width: 347px;
      margin-top: 20px;
   }

   .buttons {
      margin: 0 auto;
      display: grid;
      padding: 0 30px;
      gap: 20px;
      margin-top: 20px;
      height: 108px;

      .reg{
         width: 1000px;
      }
   }
}