/// colors
$mainColor: #E9971C;
$lightMainColor: #e8d2b1;
$textColor: #3A3A3A;
$textDarkColor: #272727;
$greenColor: #4E8445;
$greenLightColor: #3BA00B;
$greenDarkColor: #346F18;
$mainColorHover: #FF8100;
$secondDarkColor: #6F6F6F;
$white: #FFFFFF;

///fonts
@mixin largeNone {
   font-family: 'Inter';
   font-style: normal;
   font-size: 18px;
   line-height: 18px;
}

@mixin largeTight {
   font-family: 'Inter';
   font-style: normal;
   font-size: 18px;
   line-height: 20px;
}

@mixin largeNormal {
   font-family: 'Inter';
   font-style: normal;
   font-size: 18px;
   line-height: 24px;
}

@mixin regularNone {
   font-family: 'Inter';
   font-style: normal;
   font-size: 16px;
   line-height: 18px;
}

@mixin regularTight {
   font-family: 'Inter';
   font-style: normal;
   font-size: 18px;
   line-height: 20px;
}

@mixin regularNone {
   font-family: 'Inter';
   font-style: normal;
   font-size: 16px;
   line-height: 24px;
}

@mixin smallNone {
   font-family: 'Inter';
   font-style: normal;
   font-size: 14px;
   line-height: 14px;
}

@mixin smallTight {
   font-family: 'Inter';
   font-style: normal;
   font-size: 14px;
   line-height: 16px;
}

@mixin smallNormal {
   font-family: 'Inter';
   font-style: normal;
   font-size: 14px;
   line-height: 20px;
}

@mixin tinyNone {
   font-family: 'Inter';
   font-style: normal;
   font-size: 12px;
   line-height: 12px;
}

@mixin tinyTight {
   font-family: 'Inter';
   font-style: normal;
   font-size: 12px;
   line-height: 14px;
}

@mixin tinyNormal {
   font-family: 'Inter';
   font-style: normal;
   font-size: 12px;
   line-height: 16px;
}

/// effects
@mixin glassPanel {
   background: rgba(255, 255, 255, 0.1);
   box-shadow: 0px -1px 4px rgba(217, 217, 217, 0.17), 0px 4px 4px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(4px);
   /* Note: backdrop-filter has minimal browser support */
   border-radius: 25px;
}


$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-all: 0px 0px 15px rgba(0, 0, 0, 0.25);