@use "../../variables.scss" as v;

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}

.root {
    color: v.$textColor;
    @include v.regularNone;
    font-weight: 400;

    .title {
        margin-top: 10px;
    }

    .input {
        width: 100%;
        border-radius: 20px;
        height: 32px;
        margin-top: 5px;
        background: #EFEFEF;
        border: 2px solid rgba(180, 180, 180, 0.6);
        padding-left: 10px;
        @include v.regularNone;
        font-weight: bold;
        transition: .4s ease all;
        color: v.$textColor;

        &:focus {
            
            transition: .4s ease all;
            border: 2px solid v.$mainColor;
            outline: none;
        }
    }
}